<!DOCTYPE html>
<html ng-app="chatApp">
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="vendor/angularjs-toaster/toaster.min.css" rel="stylesheet">
    <link href="vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet" />
    <style>
      .margin-top-20{
        margin-top: 20px;
      }
      .margin-bottom-40{
        margin-bottom: 40px;
      }
      .box{
        border: 1px solid rgba(128, 128, 128, 0.25);
        padding: 10px;
        box-shadow: 2px 2px 2px 2px rgba(0,0,0,.1);
      }
      .text-self{
        color: gray;
      }
      .text-other{
        color: blue;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
  <toaster-container toaster-options="{'close-button': true}"></toaster-container>
    <div ui-view></div>

    <script src="vendor/jquery/dist/jquery.min.js"></script>
    <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="vendor/angular/angular.min.js"></script>
    <script src="vendor/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="vendor/angular-animate/angular-animate.min.js"></script>
    <script src="vendor/angularjs-toaster/toaster.min.js"></script>

    <script src="/socket.io/socket.io.js"></script>
    <script src="vendor/angular-socket-io/socket.js"></script>

    <script src="modules/app/AppModule.js"></script>
    <script src="modules/app/Service.js"></script>

    <!-- <script>
       var socket = io.connect();

     </script>-->

  </body>
</html>
