<div class="col-xs-12 col-sm-6 col-sm-offset-3 box" >
    <h2 class="text-center margin-bottom-40"> <span class="label label-default ">Login</span></h2>

    <div class="input-group input-group-sm">
        <span class="input-group-addon" id="sizing-addon3"><i class="fa fa-user"></i></span>
        <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon3" ng-model="user.username">
    </div>
    <div class="input-group input-group-sm">
        <span class="input-group-addon" id="sizing-addon3"><i class="fa fa-key"></i></span>
        <input type="password" class="form-control" placeholder="Password" aria-describedby="sizing-addon3" ng-model="user.password">
    </div>



    <button class="btn btn-success margin-top-20"  ng-click="login()">Login</button>

</div>